        .q{
            margin-top: 200px;
            border-color: aqua;
            border-radius: 50%;
        }
        body{
            margin: 0px;
            padding: 0%;
        }
        header{
            margin-top: none;
            background-color: rgb(100, 47, 107);
            border-radius: 25px;
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 10px;
        }
        h1{
            margin: 0;
            color: rgb(255,255,255);
            max-height: 50px;
            
        }

        .index{
            position: sticky;
            top: 0%;
        }
        h4{
            
            margin: 0;
            padding-top:0px;
            max-height: 40px;
            color:rgb(255,255,255) ;

        }
        .synopsis{
            color:rgb(172, 19, 19) ;
            letter-spacing: 3px;
        }
        body{
            font-size: 105%;
            text-align: left;
            
            
        
        }
        .index li{
            list-style: none;
            float: left;
            margin-right: 10px;
        }
        .index ul{
            padding: 0px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            
        }
        .index a{
            display: block;
            text-decoration: none;
            color: rgb(255, 255, 255);
            padding: 10px 20px;
            border: solid rgb(255, 255, 255) 2px;
            margin-top: 10px;
            margin-right: 0px;
            border-radius: 15px;
            margin-bottom: 10px;
            transition-property: all;
            transition-duration: .2s;
            
        }

        .index a:hover{
            background-color:rgba(255, 255, 255, 0.144) ;
            color: rgba(0, 0, 0, 0.493);
            transform: scale(1.1);   
        }

        .indexcontainer{
            max-width: 85%;
            margin: auto;
            padding-left: 40px;
            padding-right: 40px;
        }


        .mainarea{
            line-height: 1.7;
            border-bottom: 2px solid;
            border-color:purple;
            word-spacing: 2px;
            background-color: rgb(255, 255, 255);
            margin: none;
        
        }
        .para{
            width: 68%;
            float: left;
        }

        .about{
            width: 30%;
            float: right;
            margin-top:30px ;
            background-color: rgb(223, 223, 223);
            text-align: justify;  
            border-color: rgb(113, 45, 129);
            border-top: none;
            margin-right:0x ;
            padding: 5px;
            background-image: url(../images/aot5.webp);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            box-shadow: 10px 5px 2px rgba(0, 0, 1, 0.15) ,inset 10px 5px 2px rgba(0, 0, 1, 0.15) ;
            box-sizing: border-box;
            border-radius: 25px;        
            transition: all  1s;
                
        }
        .about:hover{
            transform: scale(1.1);
        }
        .author{
            font-weight: 100;
            letter-spacing: 2px;
        }    

        /*image*/
        img{
            width: 100%;     
        }
        .image{
            position: relative;
            z-index: 1;
            top: 0px;

            flex: 1;
            overflow: hidden;
            transition: all;
            transition-duration: 1s;
            margin-top: 20px;
            
        }
  
        .imaget{
           
            position: absolute;
        /* top: 22rem; */
            bottom: rem;
          z-index: -1;
            color: rgb(172, 19, 19);
            background-color:rgba(0, 0, 0, 0.507);
            transform: translatey(100%);
            border-radius: 25px;

        }
        /* .imaget:hover{
          display: block;
          top: 20rem;
        } */

        .image{
            display: block;
            border-radius: 15px;
            margin-top: 10px;
        }

        .image:hover .imaget{
            transform: translatey(0);
        }

        .image:hover{
            transform: scale(1.1);

        }

        .Lorem{
            flex: 2;
            width: 60%;
            background-image: linear-gradient(to bottom,rgb(167, 100, 173),rgb(156, 156, 156));
            margin-left: 20px;
            border-radius: 35px;
            margin-top: 10px;
            margin-bottom: 10px;
            text-align: justify;
            padding: 10px;
        }

        .spa{
            width: 40%;
        }

        .main2{
            line-height: 1.7;  
            word-spacing: 2px;  
            display: flex;
            justify-content: space-between;
            
        }
        /*image*/
        /*table*/
        table{
            margin-top: 5px;
            border-spacing: 0;
            border-collapse: collapse;
            width: 700px;
        }
        table th{
            text-align: center;
            color: #FFF;
            background-color: rgb(135, 83, 148);
        }

        table th,td{
            border: 1px solid;
            border-color: rgb(135, 83, 148);
            text-align: center;
            padding: 10px;
        }
     
        

        tbody :nth-child(odd) td{
            background-color: rgb(220, 197, 228);

        }

        .c1{
            width: 33.33%;
        }

        .c2{
            width: 33.33%;
        }

        .c3{
            width: 33.33%;
        }
        /*table*/

        footer{
            margin-top: 10px;
        }

        .group{
            .group:before,
        .group:after {
            content: "";
            display: table;
        }

        .group:after {
            clear: both;
        }

        .group {
            zoom: 1;
        }

        }
